<nav class="navbar"
  ><ul>
    <li><a href="/" class="link">Home</a></li>
    <li><a href="/random" class="link">Random</a></li>
    <li><a href="/list" class="link">List of quotes</a></li>
    <li
      ><a href="https://zenquotes.io/api/image" class="link"
        >Inspirational image</a
      ></li
    >
  </ul></nav
>
