<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes page</title>
  </head>
  <body>
    <%- include('header') -%>
    <h1 class="title">Quote of the day:</h1>
    <div class="quote"> <%- qod %> </div>
  </body>
</html>
